<div class="fluid-container row justify-content-center main-container">
  {{!-- Filter --}}
  <form class="d-flex col-10 col-md-6 align-items-center justify-content-evenly mt-3" action="/records/filter"
    method="POST">
    {{!-- Year --}}
    <label for="year-select" class="my-1">年分:
      <select name="year" class="form-select btn-group" id="year-select">
        {{{generateYear records year}}}
      </select>
    </label>

    {{!-- Month --}}
    <label for="month-select" class="my-1">月份:
      <select name="month" class="form-select btn-group" id="month-select">
        {{{generateMonth records month}}}
      </select>
    </label>

    {{!-- Category --}}
    <label for="category-select" class="my-1">類別:
      <select name="category" class="form-select btn-group" id="category-select">
        {{{generateCategory category}}}
      </select>
    </label>

    <input type="submit" class="btn btn-outline-secondary align-self-end my-1" value="篩選"></input>
  </form>

  <div class="row justify-content-center mt-2">
    {{!-- Total Amount --}}
    <ul class="list-group row col-md-6 d-flex flex-row justify-content-center">

      <div class="w-75 mx-0 px-2 d-flex">
        <div class="total-amount fs-4">
          總金額:
        </div>
        <h1 class="mx-3 total-amount fs-1" id="total-amount">
          {{totalAmount}}
        </h1>
      </div>

      {{!-- Record List --}}
      {{#each records}}
      <div class="col-sm-10 col-md-12 d-flex flex-nowrap justify-content-center list-item-container">
        <li class="list-group-item w-75 my-1 d-flex justify-content-between {{this.category}}">

          <a class="list-item-link d-flex align-items-center justify-content-between">
            <div class="d-flex align-items-center justify-content-evenly">
              {{{displayIcon this}}}
              <div class="mx-2">
                <div class="">{{this.name}} {{this.merchant}}</div>
                <div class="" id="date-display">{{formatTime this.date}}</div>
                <div>
                  {{this.amount}}
                </div>
              </div>
            </div>
          </a>

          <div class="button-group">
            <a class="btn btn-success btn-sm my-1" href="/records/edit/{{this._id}}">修改</a>
            <form action="/records/{{this._id}}/?_method=DELETE" method="POST">
              <button class="btn btn-danger btn-sm my-1">刪除</button>
            </form>
          </div>

        </li>
      </div>
      {{/each}}
    </ul>
  </div>
  {{!-- Create new record --}}
  <p class="col-5 col-md-3 mt-3 row justify-content-center">
    <a href="/records/new" class="btn btn-primary col-5 col-md-8 row justify-content-center">新增支出</a>
  </p>
</div>